h1 {
    color: teal;
}

.todo {
    font-size: 25px;
    color: purple;
    list-style-type: none;
    border-radius: 6px;
    padding: 5px 5px;
    margin: auto;
    align-items: center;
    align-content: center;
}
.todo:hover {
    background-color: rgb(0, 0, 0, 0.1);
    transition: all 200ms;
}
.completed {
    text-decoration: line-through;
    color: grey;
}

.button-submit {
    background-color: darkgreen;
    transition: all 100ms;
}
.success {
    color: hotpink;
    background-color: darkcyan;
    border-radius: 6px;
    padding: 10px 10px;
    top: 20px;
}